# Dependencies
node_modules

# Production build
.next
out

# Environment files
.env
.env.local
.env.production.local
.env.development.local

# Vercel
.vercel

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log**.txt
FIREBASE_KEY_NO_QUOTES.txt
VERCEL_FIREBASE_PRIVATE_KEY.txt
